html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.bodystyle1 {
  font-family: tahoma;
  font-size: 18;
  color: black;
  position:absolute;
  text-align:justify;
}
.piccap{
  font-family: tahoma;
  font-style: italic;
  font-size: 8;
  color: rgb(42, 40, 40);
  position: absolute;
}
.question{
  font-family: tahoma;
  font-size: 20;
  color: black;
  position: absolute;
}
.nex{
  font-family: tahoma;
  font-style: italic;
  font-size: 6;
  color: rgb(76, 73, 73);
  position: absolute;
}
