html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.overlay{
  color: black;
  position:fixed;
  top: 100;
  padding: 2em;
}
.ending{
  color:#C0392B;
  text-align:center;
  font-size:210%;
  font-style: bold;
}
.fin{
  color: white;
  text-align:center;
  font-size: 150%;
  font-style:italic
}